<div class='span-24 last'>
  <%= content_tag('h3', @link.url.truncate(50), :class => '') %>
  <%= content_tag('small', @link.url, :class => '') if @link.url.size > 50 %>
  <br/>
  <hr/>
  <div class='span-24 last'>
		<%= content_tag('h4', "User Agent", :class => '') %>
    <%= @link.user_agent.name%>: <%= @link.user_agent.description %>
  </div>
  <br/>
  <hr/>
  <div class='span-24 last page_content'>
		<%= content_tag('h4', "Page Headers", :class => '') %>
		<table>
			<tr><th>Header</th><th>Value</th></tr>
			<% @headers.each do |header, value| %>
				<tr><td><%= content_tag('b', header, :class => '') %></td>
					<td><%= value[0].to_s %></td></tr>
			<% end %>
		</table>
  </div>
  <br/>
  <hr/>
	<%= content_tag('h4', "Page Content", :class => '') %>
  <div class='span-24 last page_content'>
    <%= raw(@link.body) %>
  </div>
</div>