<tr>
  <td><%= link_to link.url.truncate(50), link %></td>
  <td><%= distance_of_time_in_words(link.created_at, Time.now) %> ago</td>
  <td><%= distance_of_time_in_words(link.updated_at, Time.now) %> ago</td>
  <td><%= link.processed? ? 'Yes' : 'No' %></td>
  <td><%= link.error.nil? ? 'No' : 'Yes' %></td>
</tr>
