<div class='span-24 last'>
	<div class='span-24 last'>
		<% if ENV['RAILS_ENV'] == 'development' %>
			Welcome <%= request.remote_ip %><br/>
			<%= RateLimiter.current(request.remote_ip) %> -> <%= RateLimiter.ttl(request.remote_ip) %><br/>
			<%= link_to "Resque Server", resque_server_path() %>
		<% end %>
	</div>
  <div class='span-24 last' id='links'>
		<%= render :partial => "links" %>
  </div>
  
  <%= form_for :link, :remote => true do |f| %>
    <p>
      <%= f.label :url, "Url" %><br/>
      <%= f.text_field :url %>
    </p>
    <p>
      <%= f.label :user_agent, "User Agent" %><br/>
      <%= select_tag "user_agent", options_from_collection_for_select(UserAgent.all, "id", "name")%>
    </p>
    <p>
      <%= f.submit "Submit", :disable_with => 'Submiting...' %>
    </p>
  <% end -%>
</div>