<div class='span-24 last'>
  <%= content_tag('h3', @link.url.truncate(50), :class => '') %>
  <%= content_tag('small', @link.url, :class => '') if @link.url.size > 50 %>
  <br/>
  <hr/>
  <div class='span-24 last'>
		<%= content_tag('h4', "User Agent", :class => '') %>
    <%= @link.user_agent.name%>: <%= @link.user_agent.description %>
  </div>
  <br/>
  <hr/>
  <div class='span-24 last'>
    <% if @link.error %>
      <%= content_tag('h4', "Errors", :class => '') %>
      <%= @link.error %>
    <% end %>
  </div>
  <br/>
  <hr/>
  <div class='span-24 last page_content'>
		<%= content_tag('h4', "Page Headers", :class => '') %>
		<table>
			<thead>
				<tr><th>Header</th><th>Value</th></tr>
			</thead>
			<tbody>
				<% @headers.each do |header, value| %>
					<tr><td><%= content_tag('b', header, :class => '') %></td>
						<td><%= value %></td></tr>
				<% end %>
			</tbody>
		</table>
  </div>
  <br/>
  <hr/>
	<%= content_tag('h4', "Page Content", :class => '') %>
	<%= link_to "Colorized body", link_path(@link) %><br/>
  <div class='span-24 last page_content'>
    <%= @link.body %>
  </div>
</div>
