<!DOCTYPE html>
<html>
<head>
  <title>Fetchit</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='container'>
  <div class='span-24 last'>
    <%= link_to content_tag('h1', "Fetchit", :class => ''), root_path(), :style => 'text-decoration: none;' %>
  </div>
  <%= yield %>
</div>

</body>
</html>
